<div class="col-xl-8 offset-md-2">
  <h4 class="text-center mt-5">sign up</h4>

  <form class="my-5 py-3" method="Post" action="/sign-up">
    <div class="mb-3 m-1">
      <label for="email" class="form-label">Email address :</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 my-1">
      <label for="userName" class="form-label">UserName :</label>
      <input type="text" class="form-control" id="userName" name="userName" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password :</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
      />
    </div>
    <h6 class="pstart-0">Register As :</h6>
    <div class="mb-3 form-check">
      <input
        type="radio"
        class="form-check-input"
        id="student"
        value="student"
        name="role"
        checked
      />
      <label class="form-check-label" for="student">student</label>
      <br />
      <input
        type="radio"
        class="form-check-input"
        id="teaching-assistant"
        value="ta"
        name="role"
      />
      <label class="form-check-label" for="teaching-assistant"
        >teaching-assistant</label
      ><br />
      <input
        type="radio"
        class="form-check-input"
        id="teacher"
        value="teacher"
        name="role"
      />
      <label class="form-check-label" for="teacher">teacher</label>
    </div>
    <!-- to be implemented later -->
    <!-- <p class="text-muted">
      <span class="fw-bold">NOTE :</span> To successfully register as
      Teaching-Assistant or Teacher ,you will need to be given Permission by
      admin.
    </p> -->
    <br />
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
