<link rel="stylesheet" type="text/css" href="./css/layout.css" />

<div class="col-xl-10 offset-md-1">
  <div class="text-end px-3">
    <a class="btn btn-sm btn-primary mt-5" href="/student">Back to Home</a>
  </div>
  <h3 class="my-5">Raise Doubt</h3>
  <div
    class="px-3 bg-grey-container px-2 py-3 border border-2 border-secondary"
  >
    <form action="/student/raise-doubt" method="POST">
      <div class="mb-3 my-1">
        <label for="title" class="form-label">Title :</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
      <div class="mb-3 my-1">
        <label for="description" class="form-label">Description:</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="description"
        ></textarea>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary px-4">Ask Doubt</button>
      </div>
    </form>
  </div>
</div>
